{% load static %}
<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Clothes Store</title>
        <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>
    <body>
        <h1>Products</h1>
        <ul>
            <div class="container">
                <div class="row">
                  {% for product in products %}
                    <div class="col-md-4 col-sm-6">
                      <a href="{{ product.image.url }}" target="_blank">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid rounded shadow">
                      </a>
                      <h3>{{ product.name }}</h3>
                      <p>{{ product.price }}</p>
                    </div>
                 
                </div>
              </div>
          
                {% comment %} order button  {% endcomment %}
                <a href="https://wa.me/YOUR_PHONE_NUMBER?text=I%20would%20like%20to%20order%20{{ product.name|urlencode }}%20(Size%3A%20{{ product.size|urlencode }}%2C%20Quantity%3A%201)%20Name%3A%20Client%20Name%20Phone%3A%20Client%20Phone"  target="_blank">
                    <button> Order Through Whatsapp </button>
                </a>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
